<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styleee.css">

</head>
<body> 
<nav id="navbar" class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/adm">Início ‎ ‎ ‎ ‎</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/almoxarifado">Almoxarifado ‎ ‎ ‎ ‎</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Adicionar item ‎ ‎ ‎ ‎  </a>
          <li class="nav-item">
            <a id="letra" class="nav-link" href="/retirada">Retirada ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/adicio">Novos usuários </a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img id="logodosenai" src="../static/senainovo.jpg" alt="logodosenai" />
<img id="homem" src="../static/trabalho.png" alt="homem" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>