<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Senai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body id="kalina">

    <img id="fundo" src="../static/trabalhador.jpg" alt="trabalhador" />

    <div id="card_login" class="card" style="width: 18rem;">

        <img src="../static/senainovo.jpg" alt="logodosenai" />

        <div class="card-body">

            <form action="/adm" method="GET">

                <div class="mb-3">
                    <label id="letrausu" for="usuario">Usuário</label>
                    <input type="email" class="form-control" id="usuario" name="usuario" placeholder="Digite seu Email">
                </div>

                <div class="mb-3">
                    <label id="letrasen" for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="perfil" id="radioUser">
                    <label class="form-check-label" for="radioUser">USER</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="perfil" id="radioAdm" checked>
                    <label class="form-check-label" for="radioAdm">ADM</label>
                </div>
                <br>
                <button id="botao_pag_login" type="submit" class="btn btn-primary">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</body>
</html>