body {
    background-color: rgba(14, 14, 81, 0.274);
}

#logodosenai {
    width: 220px;
    height: 75px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#navbarNav {
    font-size: 30px;
    padding-left: 250px;
    background-color:  #192a6b;
    border-color: #19296b;
     border-color: #192a6b;
}

.nav-link {
    color: aliceblue;
}

.nav-link {
     color: aliceblue;
}

#navbar {
    background-color: #192a6b;
    border-color: #192a6b;
}

#homem { 

    opacity: 0.5;



}

.nav-link:hover {
    color: rgb(255, 119, 0) !important;
}

#div_do_card{
    position: absolute;
    top: 150px;
    left: 500px;
    border-radius: 20px;
    border-color: #19296bbf;
}

#botao_adicio {
    background-color: rgb(255, 119, 0) ;
        border-width: 1px;
        border-color: rgb(193, 91, 2) ;
         position: absolute;
         left: 92px;
    }

    #titulo {
        color: #192a6b;
        font-weight: bold;
        
    }

.form-control{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.caixa{
    text-align: center;
}

#botao_adicio{
    width: 300px;
    display: block;
    margin: 20px auto;
}