body {
    background-color: #192a6b;
     margin: 0px;
    padding: 0px;
}

#logodosenai {
    width: 220px;
    height: 75px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#navbarNav {
    font-size: 30px;
    padding-left: 250px;
    background-color:  #192a6b;
    color:#192a6b
    
}

.nav-link {
    color: aliceblue;

}

.nav-link {
     color: aliceblue;
}

#navbar {
    background-color: #192a6b;
    border-color: #192a6b;
}

.nav-link:hover {
    color: rgb(255, 119, 0) !important;
}

#homem { 

    opacity: 0.2;
    
}

